{% extends "gdmBlogBundle::layout.html.twig" %}
{% block title %}
	Lecture d'un article - {{ parent() }}
{% endblock %}
{% block gdmblog_body %}
	{# Ici, on inclut la vue #}
	{% include "gdmBlogBundle:Blog:article.html.twig" %}
	<p>
		<a href="{{ path('gdmblog_accueil') }}" class="btn">
			<i class="icon-chevron-left"></i>
			Retour à la liste
		</a>
		<a href="{{ path('gdmblog_modifier', {'id': article.id}) }}"
		   class="btn">
			<i class="icon-edit"></i>
			Modifier l'article
		</a>
		<a href="{{ path('gdmblog_supprimer', {'id': article.id}) }}"
		   class="btn">
			<i class="icon-trash"></i>
			Supprimer l'article
		</a>
		<a href="{{ path('gdmblog_commentaire', {'id': article.id}) }}"
		   class="btn">
			<i class="icon-trash"></i>
			commenter l'article
		</a>
	</p>
{% endblock %}